/* General styles */

body {
  font-family: 'inter', sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f0f0f0;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensures form stays centered even on longer screens */
}

/* Form styles */
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 700px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #0069d9;
}

/* Message styling (optional) */
.message {
  background-color: #f8d7da; /* Light red for error messages */
  border: 1px solid #e74c3c;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}

.message h3 {
  color: #c23e1e; /* Darker red for error message text */
}

/* Sign up link styling */
a {
  color: #007bff; /* Blue color for the link */
  text-decoration: none; /* Remove underline */
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #0069d9; /* Darker blue on hover */
}


.login-option {
  text-align: center;
  margin-top: 20px;
  font-size: 0.8em; /* Adjust font size as needed */
  font-family: "inter", sans-serif;
}

.login-option a {
  color: #007bff; /* Blue color for the link */
  text-decoration: none; /* Remove underline */
  transition: color 0.2s ease-in-out; /* Hover effect */
}

.login-option a:hover {
  color: #0069d9; /* Darker blue on hover */
}
