{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>{{chatroom.name}}</title>
    <link rel="stylesheet" href="{% static 'css/chatroom.css' %}" />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <!-- HTMX link-->
  </head>
  <body>
    <div class="sidebar" id="sidebar">
      <div class="gohome-heading"><a href="/main">← Back to home</a></div>
      <div class="sidebar-heading">Chatrooms</div>
      <ul class="chatroom-list">
        <!-- List of all joined chatrooms -->
        {% for jc in joined_chatrooms %} {% if jc.name == chatroom.name %}
        <li>
          <a>
            <div class="chatroom-box" style="background-color: #3b5998">
              <a href="/main/chatroom/{{jc.code}}" class="chatroom-link"
                >{{jc.name}}</a
              >
              <div class="chatroom-description-small">{{jc.desc}}</div>
            </div>
          </a>
        </li>
        {% else %}
        <li>
          <a>
            <div class="chatroom-box">
              <a href="/main/chatroom/{{jc.code}}" class="chatroom-link"
                >{{jc.name}}</a
              >
              <div class="chatroom-description-small">{{jc.desc}}</div>
            </div>
          </a>
        </li>
        {% endif %} {% endfor %}
      </ul>
    </div>
    <input type="hidden" id="current-user" value="{{ user.username }}" />
    <div class="chatroom-container">
      <div class="chatroom-heading">{{chatroom.name}}</div>
      <div id="scrollable-div">
        <div id="chats">
          <div
            class="chatroom-description-small"
            style="color: black; text-align: center; opacity: 0.7"
          >
            "{{chatroom.desc}}"
          </div>
          {% for msg in messages %}
          <br />
          {% if msg.sender.user.username == user.username %}
          <div class="message sent-by-me">
            <div class="message-sender">You</div>
            <div class="message-content">{{msg.content}}</div>
            <div class="message-timestamp">{{msg.date_time}}</div>
          </div>
          {% else %}
          <div class="message received">
            <div class="message-sender">{{msg.sender.user.username}}</div>
            <div class="message-content">{{msg.content}}</div>
            <div class="message-timestamp">{{msg.date_time}}</div>
          </div>
          {% endif %} {% endfor %}
        </div>
      </div>
      <!-- Input Section -->
      <form method="post" class="input-section" id="msg_send_form">
        {% csrf_token %} {{form.content}}
        <button class="send-button" type="submit">Send</button>
      </form>
    </div>
  </body>
  <script src="{% static 'js/chatroom.js' %}"></script>
</html>
